[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Pct Life
Comment=John Conway's Game of Life, in Java
Exec=pctlife
Icon=pctlife
Terminal=false
Type=Application
Categories=Application;Game;
